---
// layouts/ImovelLayout.astro
import Layout from "./Layout.astro";
import SidebarImovel from "../components/SidebarImovel.astro";
import type { CollectionEntry } from "astro:content";
import ImovelRelacionados from "../components/ImovelRelacionados.astro";

interface Props {
  imovel: CollectionEntry<"imoveis">;
  imoveis: CollectionEntry<"imoveis">[];
}

const { imovel, imoveis } = Astro.props;
const categorias = [...new Set(imoveis.map((i) => i.data.categoria))];
---
<Layout title={imovel.data.title} description={imovel.data.categoria}>
  <div class="container mx-auto px-4 py-12 pt-40">
    <div class="grid md:grid-cols-4 gap-12">
      <!-- Conteúdo principal -->
      <main class="md:col-span-3">
        <!-- Cabeçalho, galeria, detalhes e descrição -->
        <slot />
      </main>

      <!-- Sidebar -->
      <div class="md:col-span-1">
        <SidebarImovel categorias={categorias} imoveis={imoveis} />
      </div>
    </div>

    <!-- Imóveis relacionados -->
    <ImovelRelacionados imovel={imovel} imoveis={imoveis} />
  </div>
</Layout>
